@font-face {
	font-family: 'Material Icons';
	font-style: normal;
	font-weight: normal;
	src:
		/* from https://fonts.gstatic.com/s/materialicons/v81/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2 */
		url('Material_Icons.woff2') format('woff2'),
		/* from https://fonts.gstatic.com/s/materialicons/v81/flUhRq6tzZclQEJ-Vdg-IuiaDsNa.woff */
		url('Material_Icons.woff') format('woff'),
		/* from https://fonts.gstatic.com/s/materialicons/v81/flUhRq6tzZclQEJ-Vdg-IuiaDsNY.eot */
		url('Material_Icons.eot?#iefix') format('embedded-opentype'),
		/* from https://fonts.gstatic.com/l/font?kit=flUhRq6tzZclQEJ-Vdg-IuiaDsNb&skey=4fbfe4498ec2960a&v=v81#MaterialIcons */
		url('Material_Icons.svg#MaterialIcons') format('svg'),
		/* from https://fonts.gstatic.com/s/materialicons/v81/flUhRq6tzZclQEJ-Vdg-IuiaDsNZ.ttf */
		url('Material_Icons.ttf') format('truetype');
}
